@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}
.none {
  display: none !important;
}

.block {
  background-color: darkseagreen;
  height: 200px;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

/* header  */
.header {
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
  color: white;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(/images/header/header-bottom.svg);
  background-size: 100%;
}
.header a {
  color: #fff;
}
.header__top {
  margin-bottom: 86px;
}
.header__row {
  display: flex;
  /* justify-content: space-between; */
}
.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}
.header__img {
  position: relative;
  flex-grow: 1;
}
.header__img img {
  position: absolute;
  top: -180px;
  right: -105px;
  /* right: 0; */
  max-width: unset;
  width: 894px;
  height: 940px;
}

/* nav  */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
}
/* logo */

.logo {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.logo a {
  color: inherit;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}
.nav__list a {
  position: relative;
}
.nav__list a:hover::after,
.nav__list a.active::after {
  content: "";
  position: absolute;
  right: 10px;
  left: 0;
  bottom: -6px;
  display: block;
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__login {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 15px;
  font-size: 500;
}
/* Button  */

.btn {
  display: inline-block;
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 100px;
}
/* .btn:hover {
  color: rgb(255, 246, 168);
  transition: color 0.2s ease-in-out;
} */

/* Header content  */
.header__badge {
  margin-bottom: 7px;
  display: inline-block;
  padding: 11px 30px;
  font-size: 18px;
  font-weight: 500;
  background: rgb(255, 255, 255, 0.25);
  border-radius: 15px;
}
.header__title {
  margin-bottom: 30px;
  font-size: 55px;
}
.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255, 0.5);
}
.header__btn {
  display: inline-block;
  padding: 27px 48px;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
}
